.activity{
    width: 100%;
    height: 10rem;
    background-color: var(--blue);
    border-radius: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.activities-box{
    padding-left: 10rem;
    padding-right: 10rem;
}



.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: var(--Medium);
}
.btn-activities{
    background-color: var(--green);
}

.activities_cont {
    overflow-y: scroll;
    padding-right: 1rem;
    scroll-behavior: smooth;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;

    width: 100%;
    margin-top: 5rem;

}