

#description, #title {
    width: 100%;
    min-height: 30px;
    border-radius: 15px;
    border: none;
    padding: 1em;
}
#title{
    margin-bottom: 20px;
    height: 3.2em;
}

#description {
    height: 15rem;
}




#buttonSave, #buttonCancel {
    text-align: center;
}

#saveButton{
    background-color: var(--green);
    /*color: white;


    font-size: 0.875rem;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;*/

}

#cancelButton {
    background-color: var(--yellow);
}
.twobutton{
    justify-content: space-between;
    padding: 20px;
    display: flex;
    width: 20rem;
    margin: 0 auto;
}