
#description, #title {
    width: 100%;
    min-height: 30px;
    border-radius: 15px;
    border: none;
    padding: 1em;
}
#title{
    margin-bottom: 20px;
    height: 3.2em;
}

#description {
    height: 15rem;
    margin-bottom: -3%;
}




#buttonSave, #buttonCancel {
    text-align: center;
}

#saveButton{
    background-color: var(--green);
    margin-right: 20px;

}

#cancelButton {
    background-color: var(--yellow);
}
.twobutton{

    padding: 20px;
    display: flex;
    width: 20rem;
    margin-left: 320px;
}

#addactivity{
    margin-left: 5px;
    margin-bottom: -50px;
    font-size: 25px;
}

#descriptionh3{
    margin-top: 2%;
}