* {
    --activity-column-width: 8em;
}


.btn-bookings {
    background-color: var(--green);
}

.header > div {
    display: flex;
    min-width: 40%;
    justify-content: space-between;
}

.search_input_cont {
    position: relative;
}

.search_input {
    border-radius: 5em;
    border: none;
    width: 40ch;
    padding: 1em;
    position: relative;
}

.search_input_cont::after {
    content: url('../img/icons/magnifying_glass-icon.png');
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5em;
    width: 1em;
    height: 1em;
}

