body {
    display: block;
}

.btnYes {
    background: #64B81F;
    color: white;
    padding: 0.5em 2em;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    font-style: italic;
    display: inline-block;
    margin-right: 20px;


}
.btnNo {
    background: #E3260D;
    color: white;
    padding: 0.5em 2em;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    font-style: italic;
    display: inline-block;
}

.pStyle
{
    font-style: italic;
    font-size: 25px;
    text-align: center;

}

#pActivity
{
    color: #FDC517;
    font-size: 50px;
    text-align: center;
}

.divStyle
{
    text-align: center;
    width: 40rem;
    height: 32rem;
    background-color: white;
    border-radius: 25px;
}
