.btnYes {
    background: #64B81F;
    color: white;
    padding: 0.375rem 3.5rem;
    display: inline-block;
    transition: var(--transition);
    font-size: 1.5rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    font-style: italic;
    margin-right: 30px;
}
.btnNo {
    background: #E3260D;
    color: white;
    padding: 0.375rem 3.5rem;
    display: inline-block;
    transition: var(--transition);
    font-size: 1.5rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    font-style: italic;
}

.pStyle
{
    font-style: italic;
    font-size: 25px;

}

.pActivity
{
    color: #FDC517;
    font-size: 50px;
}

.divStyle
{
    text-align: center;
    width: 40rem;
    height: 30rem;
    background-color: lightblue;
    margin-left: 450px;
    border-radius: 25px;


}