/*
===============
Font-families
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');

/*
===============
Global styles
===============
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*
    ===============
    Colors
    ===============
    */

    --light-blue: #D2ECFF;
    --blue: #02A6FD;
    --yellow: #FDC517;
    --green: #64B81F;
    --red: #E3260D;


    /*
    ===============
    Font-sizes
    ===============
    */
    --XSmall: 20px;
    --Small: 25px;
    --Medium: 40px;
    --Large: 60px;
    --XLarge: 80px;

    /*
    ===============
    Other styles
    ===============
    */
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*
===============
Global classes
===============
*/

h1,
h2,
h3,
h4,
button{
    font-family: "Comic Neue", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100vh;
}

.btn {
    background: var(--yellow);
    color: black;
    padding: 0.375em 3.5em;
    display: inline-block;
    transition: var(--transition);
    font-size: 1.5rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2.7rem;
    font-style: italic;
}
.btn:hover {
    transform: scale(1.1);
}

.small-btn {
    font-size: var(--XSmall);
    padding:  0.2em 1em;
    color: white;
    display: flex;
    align-items: center;
}

.small-btn img{
    display: inline-block;
    margin-right: .5em;
}


.bluebox{
    background-color: var(--light-blue);
    border-radius: 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;

    height: 35vw;
    min-height: 30rem;
    min-width: 55rem;
    padding: 3rem;
    margin: 0 auto;
}
.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo_cont {
    height: 15vh;
    max-height: 12rem;
    margin: 3rem auto;
    position: relative;
}

.popupBox
{
    background-color: var(--light-blue);

    position: absolute;
    /*z-index: 5;*/
    padding: 3rem;
    min-width: 30rem;
    min-height: 30rem;
    width: 50vw;
    /*width: 700px;*/
    height: inherit;
    display: block;
    margin: 0;
    border-radius: var(--Medium);

}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.background
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.calendar_cont {
    width: 100%;
    height: auto;
    /*overflow-y: scroll;*/
    background-color: white;
    border-radius: 2em;
    margin-top: 2em;
    padding: 2em;
}

.calendar_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.calendar_body {
    position: relative;
    overflow: scroll;
    height: 18vw;
    padding-top: 2em;
}

#timeline_segments {
    position: absolute;
    left: var(--activity-column-width);
    top: 1em;
    bottom: 0;
    display: flex;
    justify-content: space-between;

}

#timeline_segments div {
    width: 0;
    height: 100%;
    padding-top: 3em;
    border-left: 2px dotted lightgray;
    margin: 0 3em;
}

#timeline_segments div:first-of-type {
    margin-left: 0;
}

#timeline_segments div:last-of-type {
    margin-right: 0;
}

#timeline_segments div::before {
    content: attr(data-before);
    display: block;
    position: absolute;
    top: 0;
    transform: translate(-50%, -100%);
    font-size: .8em;
    color: gray;
}

.calendar_activity_row {
    display: flex;
    /*width: 100%;*/
    height: 8em;
    width: inherit;

}

.calendar_activity_column {
    width: var(--activity-column-width);
    min-width: var(--activity-column-width);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.calendar_activity_column h3 {
    height: auto;
    text-align: center;
}

.calendar_row-timeline {
    /*background-color: blue;*/
    /*width: calc(100% - var(--activity-column-width));*/
    position: relative;
    border-bottom: 1px solid lightgray;
}

.calendar_booking_block {
    position: absolute;
    height: 100%;
    border-radius: 25px;
    padding: 1em;
    overflow-y: scroll;
    color: white;
}

.calendar_booking_block::-webkit-scrollbar {
    display: none;
}

.calendar_booking_block p {
    font-size: .8em;
}

#calendar_date_input {
    outline: none;
    border: none;
    font-size: 1.2em;
    font-family: "Comic Sans MS";
}

.calendar_date_btn {
    outline: none;
    border: none;
    height: 3em;
    width: 3em;
    border-radius: 5em;
    font-size: 1rem;

}

.add_btn {
    background-color: var(--green)
}




























