/*
===============
Font-families
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');

/*
===============
Global styles
===============
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*
    ===============
    Colors
    ===============
    */

    --light-blue: #D2ECFF;
    --blue: #02A6FD;
    --yellow: #FDC517;
    --green: #64B81F;
    --red: #E3260D;


    /*
    ===============
    Font-sizes
    ===============
    */
    --XSmall: 20px;
    --Small: 25px;
    --Medium: 40px;
    --Large: 60px;
    --XLarge: 80px;

    /*
    ===============
    Other styles
    ===============
    */
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*
===============
Global classes
===============
*/

h1,
h2,
h3,
h4,
button{
    font-family: "Comic Neue", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100vh;
}

.btn {
    background: var(--yellow);
    color: black;
    padding: 0.375em 3.5em;
    display: inline-block;
    transition: var(--transition);
    font-size: 1.5rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2.7rem;
    font-style: italic;
}
.btn:hover {
    transform: scale(1.1);
}

.small-btn {
    font-size: var(--XSmall);
    padding:  0.2em 1em;
    color: white;
    display: flex;
    align-items: center;
}

.small-btn img{
    display: inline-block;
    margin-right: .5em;
}


.bluebox{
   background-color: var(--light-blue);
   /* background-color: transparent;*/
    border-radius: 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 35vw;
    min-height: 30rem;
    min-width: 55rem;
    padding: 3rem;
    margin: 0 auto;
}
.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo_cont {
    height: 15vh;
    max-height: 12rem;
    margin: 3rem auto;
    position: relative;
}

.popupBox
{
    position: absolute;
    z-index: 5;
    padding: 3rem;
    min-width: 30rem;
    min-height: 30rem;
    width: 30vw;
    height: inherit;
    display: block;
    margin: 0;
    border-radius: var(--Medium);
}


.background
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

}




























