/*
===============
Font-families
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');

/*
===============
Global styles
===============
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*
    ===============
    Colors
    ===============
    */

    --light-blue: #D2ECFF;
    --blue: #02A6FD;
    --yellow: #FDC517;
    --green: #64B81F;
    --red: #E3260D;


    /*
    ===============
    Font-sizes
    ===============
    */
    --Small: 25px;
    --Medium: 40px;
    --Large: 60px;
    --XLarge: 80px;

    /*
    ===============
    Other styles
    ===============
    */
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*
===============
Global classes
===============
*/

h1,
h2,
h3,
h4,
button{
    font-family: "Comic Neue", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

.btn {
    background: var(--yellow);
    color: black;
    padding: 0.375em 3.5em;
    display: inline-block;
    transition: var(--transition);
    font-size: 1.5rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2.7rem;
    font-style: italic;
}
.btn:hover {
   /* color: var(--clr-primary-1);
    background: var(--clr-primary-8);*/
    transform: scale(1.1);
}
.bluebox{
    align-self: center;
    width: 45rem;
    height: 45rem;
    padding: 4rem;
    background-color: var(--light-blue);
    border-radius: 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 150px;
    /*width: 50%;*/

}




#rcorners1 {
    border-radius: 25px;
    background: #02A6FD;
    padding: 20px;
    width: 200px;
    height: 150px;
}




























