.bluebox {
    max-width: 30rem;
    max-height: 25rem;
    position: relative;
}

.bluebox::before {
    content: url("../img/AdventureXP_logo_transparent.png");
    position: absolute;
    top: -57%;
    left: 50%;
    transform: translate(-50%, 50%);

}

.welcome{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.welcome_heading {
    margin-top: 1rem;
    margin-bottom: 4rem;
}