body {
    display: flex;
    align-items: center;
}

.bluebox {
    max-width: 30rem;
    max-height: 30rem;
    position: relative;
    min-height: auto;
    min-width: auto;
}

.bluebox::before {
    content: url("../img/AdventureXP_logo_transparent.png");
    position: absolute;
    top: -48%;
    left: 50%;
    transform: translate(-50%, 50%);

}

.welcome{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.welcome_heading {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.btn:first-of-type {
    margin-bottom: 2rem;
}